<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!-- システムの背景色 (RGB) -->
    <add key="BackColor" value="171,235,198" />
    <!-- システムの前景色 (RGB) -->
    <add key="ForeColor" value="0,0,0" />
    <!-- システムのアプリケーションが格納されているローカルのディレクトリパス -->
    <add key="LocalDirPath" value="\Application" />
    <!-- システムのアプリケーションが格納されているサーバのディレクトリパス (アプリケーション管理元)  ※絶対パスを指定してください -->
    <add key="ServerDirPath" value="" />
    <!-- バージョン管理ファイル ※相対パスを指定してください -->
    <add key="VersionControlFile" value="Version.vmf" />
    <!-- ファイルのバージョン一覧 (CSV) ※相対パスを指定してください -->
    <add key="VersionList" value="VersionList.csv" />
    <!-- ハッシュ [MD5 / SHA1 / その他(SHA256)] -->
    <add key="Hash" value="MD5" />
    <!-- アップデート後に起動するアプリケーション名 -->
    <add key="StartupFile" value="" />
    <!-- エラー時でもアプリケーションを実行するかどうか  [true:する / false:しない] -->
    <add key="DoForceStart" value="true" />
    <!-- メッセージを表示するかどうか [true:する / false:しない]  -->
    <add key="ShowMessage" value="true" />
    <!-- デバッグモード [true:ON / false:OFF]  -->
    <add key="Debug" value="false" />
  </appSettings>
</configuration>
