<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!-- 走査するディレクトリパス -->
    <add key="ScanDirPath" value="" />
    <!-- ファイルのバージョン一覧 (CSV) ※相対パスを指定してください -->
    <add key="VersionList" value="VersionList.csv" />
    <!-- ハッシュ [MD5 / SHA1 / その他(SHA256)] -->
    <add key="Hash" value="MD5" />
  </appSettings>
</configuration>
